.h1{
    font-size: 2rem;
    font-weight: bold;
    color: var(--font)
}

.p{
    font-size: 1rem;
    font-weight: lighter;
    margin: 0.25rem;
    color: var(--font)
}

.todo-btn{
    border: none;
    padding: 1rem;
    border-radius: 12px;
    color: var(--primary-100);
    border: solid 1px var(--primary-500);
    background-color: var(--primary-500);
    transition: all ease-in 200ms;
    cursor: pointer;
}

.todo-btn:hover{
    color: var(--font-light);
    border: solid 1px var(--primary-500);
    background-color: var(--primary-300);
    
}

.todo-input{
    border: none;
    width: 18rem;
    padding:1rem;
    border-radius: 12px;
    border: solid 1px var(--border);
}

.toast-alert{
    width: 14rem;
    background-color: rgb(233, 81, 81);
    position: absolute;
    bottom: 0;
    left: 8vw;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    color: var(--font-light);
}