.app-container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-form {
  margin-top: 1rem;
}

/* Todo items */

.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  align-items: center;
  margin: 1rem 1.5rem;
}

.todo {
  width: 50%;
  margin-top: 1rem;
  border: solid 1px var(--border);
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 12px;
}

.todo-item {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-weight: bold;
}

.created-time {
  font-size: 12px;
  margin-bottom: 12px;
  font-weight: normal;
  color: var(--font-light-gray);
}

.complete-btn {
  font-size: 16px;
  padding: 0.5rem 1rem;
  width: 80%;
  border-radius: 0.5rem;
  color: #19da16;
  border: 2px solid #19da16;
  background-color: #ffffff;
  margin-right: 8px;
  transition: ease-in all 300ms;
  cursor: pointer;
}

.complete-btn:hover {
  color: var(--font-light);
  background-color: #19da16;
}

.delete-btn {
  font-size: 16px;
  padding: 0.5rem 1rem;
  width: 18%;
  border-radius: 0.5rem;
  color: var(--font-light);
  border: 1px solid var(--danger);
  background-color: var(--danger);
  transition: ease-in all 300ms;
  cursor: pointer;
}
